.table-detail{
    background-color:#37414f;
}

.table-principal{
    background-color:#ffffff;
}

.color-cardBody {
    background-color:#22262B;
}

.card-width {
    width: 220px;
}

.imagen-card {
    height: 250px;
}

.column-boletos {
    width:25%; height:25%;
}

.buttons-column {
    width: 15px;
    height: 18px;
}

.tickets {
    border: 1px solid black;
}

.efecto-gris {
    background-color: #E9ECEF;
}